<body>
    <form>
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-3"></div>

                <div class="col-6">

                    <!-- <div class="form-group row">
                        <label class="col-form-label col-sm-3">Salary Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="sid" [(ngModel)]="sid" placeholder="Salary ID">
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Basic</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="basic" [(ngModel)]="basic" placeholder="Basic Salary">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">HRA</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="hra" [(ngModel)]="hra" placeholder="HRA">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Gross</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="gross" [(ngModel)]="gross" placeholder="Gross Salary">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Date</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="date" [(ngModel)]="date">
                        </div>
                    </div>

                    <div class="form-group row">
                        <button (click)="editSalaryD()" class="btn btn-outline-dark">
                            Update
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</body>