<!--begin::Signin-->
<div class="login-form login-signin">
  <!--begin::Form-->
  <form
    class="form" #userForm="ngForm" (ngSubmit)="submit()"
  >
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Welcome to Demo Project
      </h3>
      <!-- <span class="text-muted font-weight-bold font-size-h4"
        >New Here?
        <a
          routerLink="/registration"
          class="text-primary font-weight-bolder"
          >Sign Up</a
        >
      </span> -->
    </div>
    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group"> 
      <label class="font-size-h6 font-weight-bolder text-dark pt-5">Username</label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="text" name="uname" #uname="ngModel" [(ngModel)]="userModel.uname" required
        [class.is-invalid]="uname.invalid && uname.touched || flag==0"
      />
      <small class="text-danger" [class.d-none]="uname.valid || uname.untouched">Username is required</small>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5"
          >Password</label
        >
        <!-- <a
          class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5"
        >
          Forgot Password ?
        </a> -->
      </div>

      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="password" #pass="ngModel" required [(ngModel)]="userModel.pass" name="pass" 
        [class.is-invalid]="pass.invalid && pass.touched || flag==0"
      />
      <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">Password is required</small>
    </div>

    <div *ngIf="flag==0">
      <small class="text-danger">Username or Password is incorrect</small>
    </div>

    <!-- <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">Department</label>

      <select name="dept"  class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" 
      [class.is-invalid]="deptHasError && dept.touched" #dept="ngModel" (blur)="validateDept(dept.value)" 
      (change)="validateDept(dept.value)" [(ngModel)]="userModel.dept">
        <option value="default">--Select--</option>
          <option *ngFor="let depName of DepartmentList">
              {{depName.DeptName}}
          </option>
      </select>
      <small class="text-danger" [class.d-none]="uname.valid || uname.untouched">Username is required</small>
    </div> -->

    <!--end::Form group-->

    <!--begin::Action-->
    <div class="pb-lg-0 pb-5">
      <button
        type="submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
      >
        Sign In
      </button>

      <!-- <button
        type="button"
        class="btn btn-light-primary font-weight-bolder px-8 py-4 my-3 font-size-lg"
      >
        <span class="svg-icon svg-icon-md">
          <img src="./assets/media/svg/social-icons/google.svg" />
        </span>
        Sign in with Google
      </button> -->

      <!-- <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container> -->
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->

<!-- <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template> -->
