<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ModalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      ×
    </button>
  </div>
  <div class="modal-body">
<app-edit-family-d [FList]="FList"></app-edit-family-d>
  </div>
</ng-template>

<div class="my-2">
  {{appStatus | async}}
</div>

<p class="h1">Family Details</p>
<div class="table-responsive angular-bootstrap-table">
    <table class="table table-vertical-center overflow-hidden">
      <thead>    
        <th>MEMBER NAME</th>
        <th>DOB </th>
        <th>RELATION</th>
        <th *ngIf=(checkHead)>ACTIONS</th>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of FamilyList">
          <td>{{ dataItem.MemberName }}</td>
          <td>{{ dataItem.DOB.toString().substr(0,10) }}</td>
          <td>{{ dataItem.RelationWithEmp }}</td>
          <td *ngIf=(checkHead)>

            <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="editFamily(dataItem,mymodal)">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </a>

            <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="deleteF(dataItem)">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger">
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <div>
      <button class="btn btn-lg btn-outline-dark float-right" (click)="open(mymodal)">Edit Family Information</button>
  </div> -->
  </div>