<body>
    <form>
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-12">
                    <p class="h1">Personal Info</p>
                </div>

                <div class="col-9">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Emp ID</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="eid" [(ngModel)]="eid" placeholder="Emp ID">
                        </div>

                        <label class="col-form-label col-sm-2">Emp Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="ename" [(ngModel)]="ename" placeholder="Emp Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">DOB</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" name="dob" [(ngModel)]="dob">
                        </div>

                        <label class="col-form-label col-sm-2">Gender</label>
                        <div class="col-sm-4">
                            <select class="form-control" (change)="selectGender($event)" name="gender" [(ngModel)]="gender">
                                <option>--Select--</option>
                                <option value="FEMALE">Female</option>
                                <option value="MALE">Male</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Department</label>
                        <div class="col-sm-4">
                            <!-- <select class="form-control" name="department" *ngFor="let depName of dept">
                                <option [(ngModel)]="department">{{depName.DeptName}}</option>
                            </select> -->
                            <select class="form-control" [(ngModel)]="department" name="department">
                                <option>--Select--</option>
                                <option *ngFor="let depName of dept">
                                    {{depName.DeptName}}
                                </option>
                            </select>
                        </div>
                        
                        <label class="col-form-label col-sm-2">Blood Group</label>
                        <div class="col-sm-4">
                            <select class="form-control" (change)="selectBG($event)" name="bgrp" [(ngModel)]="bgrp">
                                <option>--Select--</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                            </select>
                        </div>
                    </div>
                    

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Category</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="category" [(ngModel)]="category" placeholder="Category">
                        </div>

                        <label class="col-form-label col-sm-2">Designation</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="designation" [(ngModel)]="designation" placeholder="Designation">
                        </div>
                    </div>

                </div>

                <div class="col-3">
                    <div class="bd-highlight ml-5" style="width: 40%;">
                        <img [src]="PhotoFilePath" height="200px" width="200px">
                        <input type="file" class="" (change)="uploadPhoto($event)"/>
                    </div>
                </div>

                <div class="col-12">
                    <p class="h1">Contact Details</p>
                </div>

                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Line1</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="line1" [(ngModel)]="line1" placeholder="Apt/Soc">
                        </div>

                        <label class="col-form-label col-sm-2">Line2</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="line2" [(ngModel)]="line2" placeholder="Street Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">City</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="City">
                        </div>

                        <label class="col-form-label col-sm-2">State</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="state" [(ngModel)]="state" placeholder="State">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Country</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="country" [(ngModel)]="country" placeholder="Country">
                        </div>

                        <label class="col-form-label col-sm-2">Mobile No</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="mobno" [(ngModel)]="mobno" placeholder="Mobile No.">
                        </div>
                    </div>
                    
                </div>

                <div class="col-12">
                    <p class="h1">Experience Details</p>
                </div>

                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">SrNo</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="srno" [(ngModel)]="srno" placeholder="Sr No.">
                        </div>

                        <label class="col-form-label col-sm-2">DOJ</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" name="doj" [(ngModel)]="doj">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">DOL</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" name="dol" [(ngModel)]="dol">
                        </div>

                        <label class="col-form-label col-sm-2">ExpMon</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="expmon" [(ngModel)]="expmon" placeholder="Experience Month">
                        </div>
                    </div>

                </div>

                <div class="col-12">
                    <p class="h1">Educational Details</p>
                </div>

                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Degree</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="degree" [(ngModel)]="degree" placeholder="Degree">
                        </div>

                        <label class="col-form-label col-sm-2">Subject</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="sub" [(ngModel)]="sub" placeholder="Subject">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Class</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="class" [(ngModel)]="class" placeholder="Class">
                        </div>

                        <label class="col-form-label col-sm-2">Year</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="year" [(ngModel)]="year" placeholder="Year">
                        </div>
                    </div>
                    
                </div>


    <ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ModalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <app-edit-family [FList]="FList"></app-edit-family>
        <!-- This is example from ItSolutionStuff.com -->
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div> -->
    </ng-template>

    <ng-template #mymodal2 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ModalTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <app-edit-salary [SList]="SList"></app-edit-salary>
            <!-- This is example from ItSolutionStuff.com -->
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div> -->
        </ng-template>

                <div class="col-12">
                    <p class="h1">Family Details</p>

                    <div class="table-responsive angular-bootstrap-table">
                        <table class="table table-vertical-center overflow-hidden">
                          <thead>
                            
                            <th>MEMBER NAME</th>
                            <th>DOB</th>
                            <th>RELATION</th>
                            <th>ACTIONS</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dataItem of FamilyList">
                              <td>{{ dataItem.MemberName }}</td>
                              <td>{{ dataItem.DOB }}</td>
                              <td>{{ dataItem.RelationWithEmp }}</td>
                              <td>

                                <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="editFamily(dataItem,mymodal)">
                                  <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                  </span>
                                </a>
                  
                                <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="deleteF(dataItem)">
                                  <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                    class="svg-icon svg-icon-md svg-icon-danger">
                                  </span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>

                <!-- <div class="col-12">
                    <p class="h1">Salary Details</p>

                    <div class="table-responsive angular-bootstrap-table">
                        <table class="table table-vertical-center overflow-hidden">
                          <thead>
                            
                            <th>BASIC</th>
                            <th>HRA</th>
                            <th>TOTAL GROSS</th>
                            <th>DATE</th>
                            <th>ACTIONS</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dataItem of SalaryList">
                              <td>{{ dataItem.Basic }}</td>
                              <td>{{ dataItem.HRA }}</td>
                              <td>{{ dataItem.TotalGross_Master }}</td>
                              <td>{{ dataItem.RecordType }}</td>
                              <td>

                                <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="editSalary(dataItem,mymodal2)">
                                  <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                  </span>
                                </a>
                  
                                <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="deleteS(dataItem)">
                                  <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                    class="svg-icon svg-icon-md svg-icon-danger">
                                  </span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div> -->

                <div class="">
                    <button (click)="updateEmployee()" class="btn btn-outline-dark">
                        Edit Employee
                    </button>
                </div>
            </div>
        </div>
    </form>
</body>