p{
    background-color: #3F4254;
    color: white;
    font-weight: bold;
    font-family: "Cursive", "Lucida Handwriting";
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}
  
label{
    color: #1e1e2d;
    font-weight: bolder;
    font-size: 15px;
    font-family: "Serif", "Garamond";
}